<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorial</title>
        <link href="styles.css" rel="stylesheet" />
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="App">
            <div class="Container">
                <div class= "row">
                    <div class="input">{{ input }}</div>
                </div>
                <div class = "row">
                    <button class="Button" v-on:click="addToInput(7)">7</button>
                    <button class="Button" v-on:click="addToInput(8)">8</button>
                    <button class="Button" v-on:click="addToInput(9)">9</button>
                    <button class="operator" v-on:click="divide">/</button>
                </div>
                <div class = "row">
                    <button class="Button" v-on:click="addToInput(4)">4</button>
                    <button class="Button" v-on:click="addToInput(5)">5</button>
                    <button class="Button" v-on:click="addToInput(6)">6</button>
                    <button class="operator" v-on:click="multiply">*</button>
                </div>
                <div class = "row">
                    <button class="Button" v-on:click="addToInput(1)">1</button>
                    <button class="Button" v-on:click="addToInput(2)">2</button>
                    <button class="Button" v-on:click="addToInput(3)">3</button>
                    <button class="operator" v-on:click="subtract">-</button>
                </div>
                <div class = "row">
                    <button class="Button" v-on:click="addDecimal('.')">.</button>
                    <button class="Button" v-on:click="addZero(0)">0</button>
                    <button class="Button" v-on:click="evaluate">=</button>
                    <button class="operator" v-on:click="add">+</button>
                </div>
                <button class="clear-btn" v-on:click="clearInput">Clear</button>
            </div>
        </div>
    </body>
    <script src="app.js"></script>
</html>