#App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 100%;
  }
  .Container{
    width: 450px;
    height: 600px;
  }
  .row{
    display: flex;
    width: 100%;
  }
  .Button {
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #e0e1e6;
    color: #888;
    /* border: none; */
    outline: none;
    /* outline: 1px solid #888; */
  }
  .operator {
        display: flex;
        background-color: #fe9241;
        color: #fff;
        flex: 1;
        justify-content: center;
        align-items: center;
        font-weight: lighter;
        font-size: 1.4em;
        /* outline: 1px solid #888; */
  }
  .clear-btn {
    display: flex;
    flex: 1;
    width: 100%;
    height: 4em;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 1.4em;
    /* outline: 1px solid #888; */
    height: 4em;
    background-color: #c5c3cd;
  }
  .input {
    display: flex;
    height: 3em;
    flex: 1;
    background-color: #000;
    /* outline: 1px solid #888; */
    color: #fff;
    justify-content: flex-end;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.7em;
    align-items: center;
  }